body {
    color: black;
}

.choice-container {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: grey;
    min-width: 800px;
}

.choice-container:hover {
    cursor: pointer;
    background-color: transparent;
}

.choice-letters {
    padding: 5px;

}

.choice-content {
    padding: 5px;
    width: 100%;
}

.correct {
    background-color: yellowgreen;
}

.incorrect {
    background-color:darkred;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 768px;
    }
}